<a href="https://colab.research.google.com/github/yonas-woldeyohanis/medcal-chat-bot-AI/blob/main/CSEC_Bootcamp_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Difference Between List, Dictionary, and NumPy Array  

- List:  A list is a built-in Python data structure that can hold a collection of items (any data type)
Example:

In [2]:
yoni_list =  [1, 2, 3, 'Yoni', True]
print(yoni_list[3])  # Output will be : Yoni

Yoni

Dictionary: A dictionary stores key-value pairs. It’s unordered (though from Python 3.7+ it maintains insertion order) and mutable.. Example:

In [ ]:
yoni_dict = {"name": "yonas", "age": 20}
print(yoni_dict['name'])  # Output: Yonas

NumPy Array: A NumPy array is like a list but more powerful for numerical operations. It's used in data science, machine learning, and scientific computing. Example:

In [ ]:
import numpy as np
yoni_array = np.array([1, 2, 3, 4])

# 2. Function to square even numbers

In [ ]:
def square_even_numbers(numbers):
    return [x**2 for x in numbers if x % 2 == 0]


yoni_list = [10, 15, 20, 25, 30]
result = square_even_numbers(yoni_list)
print(result)  # Output will be: [100, 400, 900]

# 3. What does the following code output, and why?

In [ ]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)   # Output: [1, 2, 3, 4]

Because
- y = x does not create a new list; it creates a reference (y) to the same list object as x.

- When we modify y (e.g., y.append(4)), x also changes because they point to the same list in memory.

#4 .shape in pandas:
- Returns the dimensions of the DataFrame as a tuple: (rows, columns)

 .describe() in pandas:
- Provides summary statistics for numeric columns in your DataFrame.

In [ ]:
import pandas as pd


data = {
    'Name': ['Yoni', 'Liya', 'Bekele', 'Sara'],
    'Age': [21, 23, 22, 20],
    'Score': [88, 92, 85, 90]
}

df = pd.DataFrame(data)

# .shape gives the dimensions
print("Shape of DataFrame:", df.shape)

# .describe() gives summary statistics
print("\nSummary statistics:\n", df.describe())

#5
- Print the first 5 rows
First 5 rows:

In [ ]:
# First 5 rows:
#   Month  1958  1959  1960
# 0   JAN   340   360   417
# 1   FEB   318   342   391
# 2   MAR   362   406   419
# 3   APR   348   396   461
# 4   MAY   363   420   472

What do you notice about the data?

Observations About the Data
1. Basic Structure
Columns:

Month: Categorical (12 months, JAN-DEC).

1958, 1959, 1960: Numeric (passenger counts in thousands).

Rows: 12 (one per month).

No missing values: All cells are populated.

2. Trends Over Time
Yearly Growth: Passenger numbers increased every year.

Example: January → 1958: 340, 1959: 360, 1960: 417.

Seasonality:

Peak travel: Summer months (JUL, AUG) consistently have the highest numbers.

July 1960: 622k passengers (highest in the dataset).

Lowest travel: Winter months (NOV, DEC, JAN).

November 1958: 310k passengers (lowest in the dataset).

3. Statistical Insights
1958-1960 Growth:

Total passengers grew by ~30% from 1958 to 1960 (sum all months).

Variability:

Standard deviation increases yearly (e.g., higher fluctuations in 1960).

#6
-   The month with the highest total passengers
Highest total passengers: JUL (July)

-   The month with the lowest in 1958
Lowest in 1958: NOV (November)

#7 .groupby()

- Groups data by a column/category.

In [ ]:
import pandas as pd


data = {
    'Department': ['HR', 'Tech', 'Tech', 'Finance', 'HR'],
    'Salary': [50000, 70000, 80000, 60000, 55000]
}
df = pd.DataFrame(data)

# Group by 'Department' and calculate mean salary
grouped = df.groupby('Department').mean()
print(grouped)

#8  Load the Titanic dataset from seaborn and:

  Count how many missing values are in each column

In [ ]:
import seaborn as sns

# Load Titanic dataset
titanic = sns.load_dataset('titanic')

# Count missing values per column
missing_values = titanic.isnull().sum()
missing_values

       #OUTPUTS
# survived         0
# pclass           0
# sex              0
# age            177
# sibsp            0
# parch            0
# fare             0
# embarked         2
# class            0
# who              0
# adult_male       0
# deck           688
# embark_town      2
# alive            0
# alone            0
# dtype: int64

#9.  Use df["Age"].hist() to visualize the age distribution.
- What shape do you see

- What might be the reason for the skew?

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt


titanic = sns.load_dataset('titanic')

# Visualize age distribution
titanic["age"].hist(bins=30)
plt.title("Age Distribution of Titanic Passengers")
plt.xlabel("Age")
plt.ylabel("Count")
plt.show()

**Observations:**
1. **Shape**: The distribution is right-skewed (long tail on the right).  
2. **Reason for Skew**:  
   - More young passengers (20s-30s) than older adults.  
   - Few infants/children (left side) and very few elderly (right tail).  
   - Common in population demographics where younger people travel/migrate more.bold text

#10. What does it mean if a column has a high standard deviation?

  - Create a list or column that has a low and a high std. dev, and compare.

In [ ]:
import pandas as pd
import numpy as np


data = {
    'Low_Std_Dev': [10, 11, 9, 10, 10, 11],
    'High_Std_Dev': [1, 50, 100, 2, 99, 0]
}
df = pd.DataFrame(data)


std_dev = df.std()
print("Standard Deviations:")
print(std_dev)


df.hist(bins=20, figsize=(10,4))

#OUTPUT
# Standard Deviations:
# Low_Std_Dev      0.75
# High_Std_Dev    48.03
# dtype: float64

**What High Standard Deviation Means:**
- Indicates data points are spread far from the mean (high variability)
- Example: `High_Std_Dev` column (std=48) has values ranging from 0-100

**Low Standard Deviation:**
- Shows data points cluster close to the mean (low variability)
- Example: `Low_Std_Dev` column (std=0.75) has values all near 10

**Key Insight:**
High std dev suggests less predictability, while low std dev indicates consistency.

#11.What are some real-world problems where missing data might affect results? Give 2 examples.

1. Healthcare - Patient Treatment Decisions

In [ ]:

import pandas as pd

health_data = {
    'Patient_ID': [101, 102, 103, 104],
    'Blood_Pressure': [120, None, 118, None],  # Missing values
    'Diabetes_Risk': ['Low', 'High', None, 'Medium']  # Missing risk assessment
}
df_health = pd.DataFrame(health_data)
print("Missing health data:\n", df_health.isnull().sum())

Impact:

- Missing blood pressure values could lead to undiagnosed hypertension.

- Absent diabetes risk assessments might delay preventative care.

2. Finance - Credit Scoring

In [ ]:

finance_data = {
    'Applicant_ID': [201, 202, 203],
    'Income': [75000, None, 48000],  # Missing income
    'Employment_Years': [2, 5, None]  # Missing employment history
}
df_finance = pd.DataFrame(finance_data)
print("\nMissing financial data:\n", df_finance.isnull().sum())

Impact:

- Missing income data may cause inaccurate credit risk predictions.

- Absent employment history could lead to wrongful loan approvals/rejections.

**Why It Matters**:
1. **Bias**: Missing data often isn't random (e.g., wealthy patients skip tests, low-income applicants omit debts).  
2. **False Conclusions**: Models may over/underestimate risks without complete data.  

**Solutions**:  
- Use `.fillna()` with caution (e.g., mean imputation for numerical data).  
- Clearly document missingness patterns before analysis.